<h1 class="text-3xl mt-16 ml-5 mb-2 font-bold xl:text-4xl">Recipe Information</h1>
<div class="py-5">
    <div class="max-w-sm sm:max-w-lg md:max-w-xl lg:min-w-full mx-auto">
        <div class="flex flex-col lg:flex-row bg-gray-200 border-2 border-black rounded-lg dark:bg-gray-800">
        <img src="{{ recipe.image }}" alt="Recipe Image" class="w-full lg:w-fit object-cover rounded-lg">
        <div class="w-full">
            <h5 class="text-2xl mt-3 sm:mt-0 text-center mb-4 font-bold p-1 w-full xl:text-3xl">{{ recipe.title }}</h5>
            <div class="flex bg-red-500 p-1.5 justify-between text-white sm:px-4 lg:justify-around lg:pl-0 content-center lg:px-6 font-bold xl:text-xl">
                <div class="flex flex-col content-center text-center">
                    <h3 class="text-md xl:text-xl">Servings</h3>
                    <span class="text-md xl:text-md">{{ recipe.servings }}</span>
                </div>
                <div class="flex flex-col content-center lg:flex-col text-center">
                    <h3 class="text-md xl:text-xl">Time</h3>
                    <span class="text-md xl:text-md">{{ recipe.readyInMinutes }}</span>
                </div>
                <div class="flex flex-col content-center lg:flex-col text-center">
                    <h3 class="text-md xl:text-xl">Health Score</h3>
                    <span class="text-md xl:text-md">{{ recipe.healthScore }}</span>
                </div>
            </div>
            <div class="mt-4 p-1.5 lg:px-4">
                <h5 class=" w-full font-bold  xl:text-lg">Description</h5>
                <p>{{ recipe.summary}}</p>
            </div>
            <div class="mb-4 p-1 lg:px-4">
                <h5 class="font-bold mb-1 p-1 w-full xl:text-lg">Ingredients</h5>
                <div class="pl-1.5 flex flex-col space-y-2">
                    @for(ingredient of recipe.extendedIngredients; track recipe.id){
                    <p><span class="font-bold">-</span> {{ ingredient.original }}</p>
                    }
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
